.border-top-primary {
	border-top: .25rem solid #4e73df!important;
}
.border-top-success {
	border-top: .25rem solid #1cc88a;
}
.border-top-warning {
	border-top: .25rem solid #f6c23e;
}
.border-top-info {
	border-top: .25rem solid #36b9cc;
}
.border-top-danger {
	border-top: .25rem solid #e74a3b;
}